node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
android/app/build/
android/build/
*.apk
*.aab
.gradle/
local.properties
.idea/
*.iml
.vscode/
